.containerGrid {
    width: 80%;
    margin: 50px auto;
    background: var(--color-font);
}

.img-grid {
    max-width: 100%;
    display: block;
    border: solid #f4f4f4 10px;
}

.masonry-layout {
    --columns: 3;
    --gap: 2.5rem;
    $columns: 4;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-gap: var(--gap);
    .masonry_item {
        margin-bottom: 1rem;
    }
    @for $i from 1 through $columns {
        &.columns-#{$i} {
            --columns: 3;
        }
    }
}

.buttonBanner:hover {
    background: var(--color-primary);
    a {
        color: white;
    }
    color: white;
    border: 1px solid white;
}